.product-card {
    display: flex;
    flex-direction: column;
    width: 280px;
    background: var(--gray);
    border-radius: 14px;
    overflow: hidden;
}

.product-source {
    position: relative;
}

.product-img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}

.product-info {
    padding: 20px;
}

.product-title {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 22px;
    word-wrap: break-word; /* evitar que el texto se desborde de su contenedor */
}

.product-description {
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0;
}

.product-price-block {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.product-price-block .price {
    font-size: 1.2rem;
}

.product-price-block .discount {
    font-size: 13px;
    color: var(--green);
}

.product-tax-policy {
    font-size: 10px;
}  